.axis {
    height: 300px;
    width: 300px;
    border: 1px solid #a0f;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    left: 100px;
    top: 100px;
}

.satellite {
    height: 20px;
    width: 20px;
    background-color: #fac;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
}

.btn {
    width: 150px;
    height: 50px;
    display: block;
    margin: 30px auto;
}

body {
    padding: 0;
    margin: 0;
}